{:paths ["src"]
 :deps  {org.clojure/clojure                  {:mvn/version "1.11.1"}
         org.clojure/tools.logging            {:mvn/version "1.2.4"}
         ring/ring                            {:mvn/version "1.9.5"}
         org.jasig.cas.client/cas-client-core {:mvn/version "3.6.4"}}}